<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <form id="comment" data-id="{{id}}">
    <textarea class="textarea" placeholder="Leave a comment" id="comment-text"></textarea>
    <button type="submit" class="btn btn-primary">Leave a comment</button>
  </form>

  <div>
    {{#if comments.length}}
    {{#each comments as |comment| }}
    <div>
      <h3>{{comment.name}}</h3>
      <p>{{comment.text}}</p>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>

<script src="/js/comment.js"></script>