<div class="text-center">
  <form>
    <input id="edit-name" value="{{name}}" />
    <textarea id="edit-desc">{{description}}</textarea>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
      <button data-id="{{id}}" id="edit-btn" class="btn btn-primary">UPDATE BLOG</button>
    </p>
  </form>
</div>

<script src="/js/editblog.js"></script>