<div>
  <h2>Welcome, {{name}}!</h2>
</div>

<div>
  <div>
    <h3>Create a New Blog Post:</h3>

    <form id="blog-submit">
      <div class="form-group">
        <label for="blog-name">Blog name:</label>
        <textarea id="blog-name" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="blog-desc">Blog description:</label>
        <textarea id="blog-desc" class="form-control" rows="3"></textarea>
      </div>
      <div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div id="delete-blog">
    <h3>Your blogs:</h3>

    {{#each blogs as |blog|}}
    <div>
      <div>
        <h4 id="upd-blog-name"><a href="/editblog/{{blog.id}}">{{blog.name}}</a></h4>
      </div>
      <div>
        <p id="upd-blog-desc">
          {{blog.description}}
        </p>
      </div>
      <div>
        <button type="button" class="btn btn-secondary" id="update-blog" data-id="{{blog.id}}">UPDATE</button>
      </div>
      <div>
        <button type="button" class="btn btn-secondary" id="delete-blog" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>